<a href="https://colab.research.google.com/github/jo-soobin/crawling_study/blob/master/4_api_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#REST-API
[참고](https://velog.io/@somday/RESTful-API-%EC%9D%B4%EB%9E%80)

In [ ]:
import getpass

api_key = getpass.getpass("API키를 입력하세요 : ")
daily_box_office = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json"

API키를 입력하세요 : ··········

In [ ]:
import requests
params = {"key":api_key, "targetDt":"20220730"}
response = requests.get(daily_box_office, params)

In [ ]:
import json
box_office_0730 = json.loads(response.text)

In [ ]:
box_office_0730.keys()

dict_keys(['boxOfficeResult'])

In [ ]:
box_office_0730["boxOfficeResult"].keys()

dict_keys(['boxofficeType', 'showRange', 'dailyBoxOfficeList'])

In [ ]:
box_office_0730 = box_office_0730["boxOfficeResult"]["dailyBoxOfficeList"]

In [ ]:
import pandas as pd
from pandas import json_normalize

In [ ]:
json_normalize(box_office_0730)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,0,OLD,20209343,한산: 용의 출현,2022-07-27,7130335397,61.6,3752057145,111.1,16351564571,660932,345440,109.5,1614467,2139,10340
1,2,2,0,OLD,20205362,미니언즈2,2022-07-20,1273037950,11.0,379626388,42.5,13449490718,125938,34634,37.9,1381810,1064,3039
2,3,3,0,OLD,20194376,탑건: 매버릭,2022-06-22,1305695304,11.3,596635846,84.1,74028021941,119020,53692,82.2,6937072,867,2045
3,4,4,0,OLD,20208446,외계+인 1부,2022-07-20,796481323,6.9,317736552,66.4,13450034147,73678,28711,63.8,1288794,759,1851
4,5,5,0,OLD,20225190,뽀로로 극장판 드래곤캐슬 대모험,2022-07-28,456941728,3.9,123061229,36.9,1173230377,46925,12070,34.6,123907,748,1607
5,6,6,0,OLD,20209654,헤어질 결심,2022-06-29,338627537,2.9,111405860,49,16979553720,30453,9907,48.2,1644791,421,742
6,7,7,0,OLD,20225237,명탐정 코난: 할로윈의 신부,2022-07-13,115269216,1.0,17289097,17.6,4166206988,10585,1523,16.8,401287,211,300
7,8,8,0,OLD,20224662,토르: 러브 앤 썬더,2022-07-06,29228469,0.3,11372870,63.7,29413748364,2549,926,57.1,2707598,53,69
8,9,9,0,NEW,20196410,비상선언,2022-08-03,25303600,0.2,25303600,100,118941600,2077,2077,100,13567,8,9
9,10,10,1,OLD,20225175,엘비스,2022-07-13,15419780,0.1,5945780,62.8,902901130,1388,497,55.8,84112,28,34

저번주의 주중 한국영화의 박스오피스 를 구해보세요

In [ ]:
weekly_box_office = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchWeeklyBoxOfficeList.json"
params = {"key":api_key, "targetDt":"20220728", "weekGb":"2", "repNationCd":"K"}
response = requests.get(weekly_box_office, params)

In [ ]:
box_office_0728_week = json.loads(response.text)

In [ ]:
box_office_0728_week = box_office_0728_week["boxOfficeResult"]["weeklyBoxOfficeList"]
json_normalize(box_office_0728_week)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt
0,1,1,5,OLD,20209343,한산: 용의 출현,2022-07-27,5767104422,58.8,5734535422,17607.3,5842950922,631355,628066,19096.0,638043,2223,20856
1,2,2,-1,OLD,20208446,외계+인 1부,2022-07-20,2491284972,25.4,-348454006,-12.3,12174808053,256882,-21691,-7.8,1170149,1525,16248
2,3,3,-1,OLD,20209654,헤어질 결심,2022-06-29,913814965,9.3,-319224829,-25.9,16413704506,92442,-26586,-22.3,1593792,672,4035
3,4,4,15,OLD,20225190,뽀로로 극장판 드래곤캐슬 대모험,2022-07-28,376599150,3.8,374376150,16841.0,382408150,41500,41253,16701.6,42127,695,1357
4,5,5,0,NEW,20196410,비상선언,2022-08-03,93638000,1.0,93638000,100.0,93638000,11490,11490,100.0,11490,27,54
5,6,6,-3,OLD,20204548,범죄도시 2,2022-05-18,42994420,0.4,-121783240,-73.9,131250086960,4419,-11920,-73.0,12688986,121,437
6,7,7,-3,OLD,20225186,더 킬러: 죽어도 되는 아이,2022-07-13,23284260,0.2,-71964200,-75.6,599921660,3878,-5548,-58.9,60013,55,159
7,8,8,0,NEW,20226207,비욘드 라이브 더 무비: 엑소의 사다리 타고 세계여행3,2022-07-27,33509500,0.3,33509500,100.0,33509500,2031,2031,100.0,2031,18,25
8,9,9,0,NEW,20211792,헌트,2022-08-10,18964000,0.2,18964000,100.0,18964000,1752,1752,100.0,1752,5,6
9,10,10,1,OLD,20223985,아이를 위한 아이,2022-07-21,9543200,0.1,2442900,34.4,33233300,1122,272,32.0,3839,43,172

In [ ]:
# 네이버API 이를 이용해 papago 번역사용하기 
# 네이버 로그인 개발자 페이지 -> 키발급 -> papapgo 서비스 
# https://developers.naver.com/docs/papago/papago-nmt-example-code.md#python

In [ ]:
import os
import sys
import urllib.request
client_id = getpass.getpass("YOUR_CLIENT_ID : ") # 개발자센터에서 발급받은 Client ID 값
client_secret = getpass.getpass("YOUR_CLIENT_SECRET") # 개발자센터에서 발급받은 Client Secret 값

YOUR_CLIENT_ID : ··········
YOUR_CLIENT_SECRET··········
{"message":{"result":{"srcLangType":"ko","tarLangType":"en","translatedText":"Nice to meet you.","engineType":"PRETRANS","pivot":null,"dict":null,"tarDict":null},"@type":"response","@service":"naverservice.nmt.proxy","@version":"1.0.0"}}

In [ ]:
encText = urllib.parse.quote(input("한글을 입력하세요 : "))
data = "source=ko&target=en&text=" + encText
url = "https://openapi.naver.com/v1/papago/n2mt"
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request, data=data.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    result = response_body.decode('utf-8')
    result_dict = json.loads(result)
    print("결과 : ",result_dict["message"]["result"]["translatedText"])
else:
    print("Error Code:" + rescode)

한글을 입력하세요 : 안녕하세요
결과 :  Hello

In [ ]:
result = response_body.decode('utf-8')
result_dict = json.loads(result)

In [ ]:
result_dict["message"]["result"]["translatedText"]

'Nice to meet you.'